<html>
<body>
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script type=text/javascript>-->
    <!--$(function() {-->
        <!--$('a#test').bind('click', function() {-->
            <!--$.getJSON('/get',-->
                <!--function(data) {-->
                    <!--//do nothing-->
                <!--});-->
            <!--return false;-->
        <!--});-->
    <!--});-->
<!--</script>-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="pass.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1><span class="l">Weg</span><span class="o"></span>
    <span class="v">Mans</span><span class="e"></span></h1>
<p><small><a href="http://robertindiana.com/" title="Learn more about Rober Indiana">For You</a></small></p>

<body>
<div class="wrap">
    <div class="search" >
        <form name = "searchform" action="/get" method = post>
        <input type="text" placeholder="Search.." name="search">
       
        <div class="buttonHolder">
        <button type="submit" class="searchButton">Search
        </button>
    </div>
        </form>
    </div>
</div>
</body>
</body>
</html>