<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="nav.css">
</head>
<body background="food.jpg">

  <table style="border:1px solid black" class="center">
    <tr>
      <td><strong>Calories</strong></td>
      <td><strong>Carbs</strong></td>
      
    </tr>
    <tr>
      <td>{{n}}</td>
      <td>{{c}}</td>
     
    </tr>
    
  </table>
</body>